[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.4.1"
python-dotenv = "==0.19.0"
pytz = "==2021.1"
sqlparse = "==0.4.2"
whitenoise = "==5.3.0"
Django = "==3.2.7"
drf-yasg = "*"
djangorestframework = "*"
mysqlclient = "*"
django-cors-headers = "*"
argon2-cffi = "*"
djangorestframework-jwt = "*"
flask = "*"
numpy = "*"
tqdm = "*"
pyjwt = "*"

[dev-packages]

[requires]
python_version = "3.9"
